.header {
    @media (min-resolution: 192dpi) and (max-width: 900px){
        background-image: $gradient-primary-o, url('../img/background1-small.png');
    }
    background-image: $gradient-primary-o, url(../img//background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    height: 95vh;
    clip-path: ellipse(80% 63% at 50% 37%);
    @include respond(tab-land) {
        clip-path: ellipse(110% 63% at 50% 37%);
    }
    @include respond(tab-port) {
        clip-path: ellipse(120% 63% at 50% 37%);
    }
    @include respond(phone) {
        clip-path: ellipse(130% 63% at 50% 37%);
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        height: 7rem;
    }

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
        @include respond(phone) {
            top: 1.8rem;
            left: 1.8rem;
        }
    }
}