.navigation {
    &__checkbox {
        display: none;
    }
    &__btn {
        position: fixed;
        top: 4rem;
        right: 4rem;
        width: 6rem;
        height: 6rem;
        border-radius: 100rem;
        background-color: $color-white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .15);
        z-index: 100;
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }
    &__bg {
        position: fixed;
        top: 4.5rem;
        right: 4.5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 100rem;
        background-image: radial-gradient($color-primary, $color-primary-dark);
        z-index: 98;
        transition: transform .7s ease-in-out;
        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }
    &__nav {
        z-index: 99;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        opacity: 0;
        transition: all .65s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    &__link {
        color: $color-white;
        font-size: 3rem;
        font-weight: 300;
        white-space: nowrap;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border-radius: 100rem;
        position: relative;
        overflow: hidden;
        transition: all .25s ease-in-out;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            border-radius: 100rem;
            background-color: $color-white;
            z-index: -1;
            transition: all .25s ease-in-out;
        }
        &:hover {
            color: $color-primary;
            transform: translateX(.8rem);
        }
        &:hover::after {
            left: 0;
        }
    }
    &__checkbox:checked ~ &__bg {
        transform: scale(90);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 0.3rem;
            border-radius: 100rem;
            background-color: $color-grey;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            transition: all .2s;
        }
        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }
    &__btn:hover &__icon::before {
        top: -1rem;
    }
    &__btn:hover &__icon::after {
        top: 1rem;
    }
    &__checkbox:checked + &__btn &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__btn &__icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__btn &__icon::after {
        transform: rotate(-135deg);
        top: 0;
    }
}